.knowServiceDetail{
    background-color: rgba(32, 178, 171, 0.678);
    margin-left: 10%;
    margin-right: 10%;
    /* background-color: rgba(255, 127, 80, 0.698); */
    padding: 10%;
    border-radius: 10px;

}

.knowServiceDetail img{
    height: 300px;
    width: 80%;
}

.knowServiceDetail h2{
    font-weight: 700;
    color: white;
    padding-bottom: 10px;
}

.knowServiceDetail p{
    font-size: 1.2rem;
    color: white;
    padding-top: 10px;
}
.knowServiceDetail button{
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    border: 0px;
    color: tomato;
    font-weight: 700;
}